*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.c-w {
    width: 95%;
    margin: auto;
}
.hero-banner{
    background: url(../images/new-arrivals-desktop-banner_cea39001-8bde-4e4f-8574-4fcc76b9370f.webp);
}